#left-cell { 
    background-image: url(img/starters.jpg);
    background-size: cover;
}

#middle-cell {
    background-image: url(img/maincourses.jpg);
    background-size: cover;
}

#right-cell {
    background-image: url(img/desserts.JPG);
    background-size: cover;
}

@media screen and (min-width: 1050px) {
    .subtitle {
        margin: 180px auto 180px auto;
    }
    .grid-container {
        margin: auto 20px;
    }
    .content-cell {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-column-gap: 25px;
    }
    #left-cell {
        grid-row: 1;
        grid-column: 1;
    }
    #middle-cell {
        grid-row: 1;
        grid-column: 2;
    }
    #right-cell {
        grid-row: 1;
        grid-column: 3;
    }
}

@media screen and (max-width: 1050px) {
    .subtitle {
        margin: 70px auto 180px auto;
    }
    .content-cell {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 20% 20%;
        grid-row-gap: 40px;
    }
    #left-cell {
        margin-left: 50px;
        margin-right: 50px;
        grid-row: 1;
        grid-column: 1;
    }
    #middle-cell {
        margin-left: 50px;
        margin-right: 50px;
        grid-row: 2;
        grid-column: 1;
    }
    #right-cell {
        margin-left: 50px;
        margin-right: 50px;
        grid-row: 3;
        grid-column: 1;
    }
}