.grid-container {
    margin: auto 20px 50px 20px;
}

img {
    object-fit: cover;
    width: 100%;
}

.portrait {
    max-width: 366px;
}

.left-cell {
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.middle-cell {
    display: grid;
}

.right-cell {
    display: grid;
}

#pasta-img {
    grid-row: 4;
    grid-column: 1;
}

#kitchen-img {
    grid-row: 1;
    grid-column: 1;
}

#kitchen1-img {
    grid-row: 7;
    grid-column: 1;
}

#kitchen2-img {
    grid-row: 1;
}

#kitchen3-img {
    grid-column: 1;
}

@media (min-width: 1050px) {
    .ingredients {
        margin: 0 50px;
    }
    .instructions {
        margin: 20px 35px;
    }
    .content-cell {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-column-gap: 25px;
    }
    .left-cell {
        grid-template-rows: repeat(7, auto) 1fr;
    }
    .middle-cell {
        grid-template-rows: repeat(6, auto) 1fr;
        grid-row: 1;
        grid-column: 2;
    }
    .right-cell {
        grid-template-rows: repeat(7, auto) 1fr;
        grid-row: 1;
        grid-column: 3;
    }
    #pasta-img {
        width: 95%;
        margin-left: 5%;
    }
    #kitchen-img {
        margin: 20px auto 0 auto;
    }
    #kitchen1-img {
        margin: 20px auto;
    }
    #kitchen2-img {
        margin: 20px auto;
    }
    #kitchen3-img {
        margin: 30px auto;
    }
    #muffin-img {
        margin: 20px auto;
        grid-row: 4;
    }
}

@media (max-width: 1050px) {
    .ingredients {
        margin: 0 auto;
    }
    .instructions {
        margin: 20px;
        max-width: 600px;
    }
    .content-cell {
        max-width: 90%;
        margin: 0px auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .left-cell {
        grid-template-rows: auto auto auto;
    }
    .middle-cell {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row: 2;
        grid-column: 1;
    }
    .right-cell {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-row: 3;
        grid-column: 1;
    }
    img {
        margin: 40px auto;
    }
    #pasta-img {
        max-width: 80vw;
    }
    #muffin-img {
        grid-row: 1;
    }
}