@font-face {
    font-family: titleFont;
    src: local(segoe script);
}

@font-face {
    font-family: recipeFont;
    src: local(goudy-old-style);
}

body {
    background-image: url("img/graphpaper.jpg");
}

a {
    color: black;
    text-decoration: none;
}

.hoverable {
    transition: 0.5s;
}

.hoverable:hover {
    transform: scale(1.02);
}

h1 {
    font-size: 80px;
    text-align: center;
    font-family: titleFont;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subtitle {
    color:black;
    font-family: titleFont;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.recipe-title {
    color: black;
    font-family: titleFont;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.recipe {
    color: black;
    font-family: recipeFont;
    text-align: left;
    font-size: 20px;
}

.white-highlight {
    background-color: white;
}

.yellow-highlight {
    background-color: rgb(250, 250, 108);
}

.pink-highlight {
    background-color: rgb(255, 148, 166);
}

.green-highlight {
    background-color: rgb(122, 231, 204);
}

.grid-container {
    display: grid;
}

.top-cell {
    grid-row: 1;
    grid-column: 1;
}

.content-cell {
    grid-row: 2;
    grid-column: 1;
    display: grid;
}